// Specific CSS for your home-page
html {
  height: 100%;
}

body {
  position: relative;
  background-size: cover;
  height: 100%;
  margin: 0;
}

.yield {
  flex: 1;
}

.banner {
  background: url('banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: calc(100vh - 360px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content-two {
  display: none;
}

.banner-content p {
  margin: none !important;
}

.home-buttons button, .worker-buttons button {
  background-color: #525284;
  opacity: 0.9;
  border-radius: 10px;
  border-style: none;
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
  outline: none;
  &:hover {
    color: #6FD08C;
    opacity: 1;
  }
  & a {
    color: white !important;
    text-decoration: none;
    outline: none;
  }
}

.button-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.banner-two {
  color: black;
  text-align: center;
  background-size: cover !important;
}

.banner-two-inner-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.home-card {
  height: 175px;
  background-color: #525284;
  opacity: 0.9;
  color: black;
  position: relative;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  & p {
    font-size: 14px;
    color: white;
  }
  & h6 {
    color: white;
  }
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.banner-three {
  color: black;
  background-color: #355589;
  text-align: center;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media(min-width: 1050px) {
  .banner {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    & p {
      font-size: 16px;
    }
  }

  .banner-content {
    margin-left: 25px;
  }

  .banner-two {
    display: none;
  }

  .banner-content-two {
    display: block;
  }
}










