

<form id="form-test">
  <select name="numbers">
    <option value="volvo">1</option>
    <option value="saab">2</option>
    <option value="fiat">3</option>
    <option value="audi">4</option>
  </select>
</form>


<div>
  <p id="number">10</p>
</div>
