
<div class="banner">
  <div class="banner-content">
    <h1>In a Pickle?</h1>
    <p>Find quick working people for sticky situations</p>
    <div class="home-buttons">
        <button>
          <%= link_to 'Log in', '#', "data-toggle" => "modal", "data-target"=>"#modaldeviselog" %>
        </button>
        <button>
          <%= link_to 'Sign Up', '#', "data-toggle" => "modal", "data-target"=>"#modaldevisesign" %>
        </button>
        <div id="modaldeviselog" class="modal fade">
          <%= render 'devise/sessions/new' %>
        </div>
        <div id="modaldevisesign" class="modal fade">
          <%= render 'devise/registrations/new' %>
        </div>
    </div>
  </div>
  <div class="banner-content-two">
    <h2>How we work</h2>
    <div>
      <div class="right-banner-container">
        <div>
          <h6>quick stuff</h6>
          <p>Easily sign up with your details and budget and request</p>
        </div>
        <div>
          <h6>fast response</h6>
          <p>Once you've made a request, we'll respond within 2 hours</p>
        </div>
        <div>
          <h6>job done</h6>
          <p>Same day work guaranteed, or your money back!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-two">
  <h1>How we work</h1>
  <div class="banner-two-inner-cards">
    <div class="home-card" id="home-card-mob-1">
      <h5>quick stuff</h5>
      <p>Easily sign up with your details, budget and request</p>
    </div>
    <div class="home-card" id="home-card-mob-2">
      <h5>fast response</h5>
      <p>Once you've made a request, we'll respond within 2 hours</p>
    </div>
    <div class="home-card" id="home-card-mob-3">
      <h5>job done</h5>
      <p>Same day work guaranteed, or your money back!</p>
    </div>
  </div>
</div>

<div class="banner-three">
  <div class="want-to-work">
    <h5>Want to work with us?</h5>
  </div>
  <div class="worker-buttons">
    <button>
      <p>sign up as a worker now!</p>
    </button>
  </div>
</div>



