.footer {
  background: #a5a5c6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: white;
  width: 100%;
  height: 60px;
  margin-top: 0px;
  & p {
    margin-bottom: none !important;
    font-size: 17px;
  }
}
