.dashboard-title {
  text-align: center;
  margin: 20px;
}

.box {
  height: 500px;
  padding: 10px;
  margin: 20px;
  background-color: #dfc7e0;
}

.box-title {
  text-align: center;
  margin: 10px;
}
